Package: helloworld
Version: 2.0-1
Depends: libc
Provides: 
Source: package/helloworld
Section: utils
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 1127
Description:  Helloworld
